  #
  ##
  ##  Set environment for Steplist:
  ##    All settings take effect before execution starts
  ##    and are guaranteed identical at the beginning of each step.
  ##
  #

  #
  ##  arg1 is the steplist file
  ##  arg2 is LOCALDIR         (Local directory)
  ##  arg3 is TAG              (Backup TAG     )
  ##  arg4 is OVERWRITE        (Overwrite existing files or not)
  ##  arg5 is MACHINE_NAME_SRC (Source host)
  ##  arg6 is REMOTE_USER      (Remote user)
  ##  arg7 is PATH_BCK_SRC     (Source path)
  #
    export LOCALDIR=$2
    export TAG=$3
    export PATH_BCK_DEST=$LOCALDIR/$TAG
    export OVERWRITE=$4
    export MACHINE_NAME_SRC=$5
    export REMOTE_USER=$6
    export PATH_BCK_SRC=$7

    CheckVar              \
        LOCALDIR          \
        TAG               \
        PATH_BCK_DEST     \
        OVERWRITE         \
        MACHINE_NAME_SRC  \
        REMOTE_USER       \
        PATH_BCK_SRC      \
    || BailOut "missings args"

